/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require chosen
 */
$main-color: #ddd;
$main-color-highlight: darken($main-color, 10%);

@import "bootstrap_and_overrides.css.less";
@import "scaffolds.css.scss";
@import "items.css.scss";
@import "shops.css.scss";
@import "line_items.css.scss";


.errors {
  padding-top: 7px;
}

#maincontainer {
  height: 100%;
  min-height: 100%;
}

#mainrow {
  height: 100%;
  min-height: 100%;
  display: block;
}

#sidebar {
  overflow: auto;
  border-left: 3px solid $main-color-highlight;
  border-right: 1px solid $main-color-highlight;
  height: 100%;
  min-height: 100%;
  display: table;
}

#mainrow {
  height: 100%;
  min-height: 100%;
  display: block;
}

#maincontainer {
  height: 100%;
  min-height: 100%;
}

html, body {
  height: 100%;
  min-height: 100%;
}
