// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.clickable-shop:hover {
  background-color: #B0B0B0;
  cursor: pointer;
}

.shop-sideview {
  padding: 0 5px;
  margin: 0;
}

.stuck-shop {
  border: 5px solid #ccc;
}
